{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Buscar {% endblock %}
{% block inicio %}
<li class="active"><a href="{% url 'home' %}" data-nav-section="home"><span>Inicio</span></a></li>
{% endblock %}
{% block content %}

<aside class="callout" style="background: url(static/images/admin.jpg) no-repeat center center scroll;">
  <div class="text-vertical-center">
      <h1 style="color: #fff">Buscar</h1>
  </div>
</aside>
<div class="container">
	<div class="row">
		<div style="margin-top: 25px; margin-bottom: 25px; margin-left: 77%; margin-right: auto">
			<div  class="row">
				<form action="" method="POST">
					{% csrf_token %}
					<div id="custom-search-input">
						<div class="input-group col-md-12">
							<input type="text" name = "campo"class="search-query form-control" placeholder="Buscar" />
							<span class="input-group-btn">
								<button class="btn btn-danger" type="submit" name = "Find", id ="find">
									<span class=" search-custom glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</div>
				</form>
			</div><!-- /.col-lg-10 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>
<div class="container">
	<div class="row">
		<div class="text-center">
			<h1>Reporte</h1>
		</div>
		<div class=" table-responsive">
			  <table class="table table-hover">
			    <tr>
							<th>ID</th>
							<th>Edad</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Expediente</th>
							<th>Area</th>
							<th>Ingreso</th>
							<th>Conclusion</th>
							<th>Evaluacion</th>
							<th>Reportes</th>
							<th>Diagnostico</th>
							<th>Nacimiento</th>
							<th>Telefono</th>
							<th>Email</th>
							<th>Genero</th>


						</tr>
					{% for item in objects %}
						<tr>
							<td>{{item.ID_Paciente}}</td>
							<td>{{item.edad_ingreso}}</td>
							<td>{{item.nombre_paciente}}</td>
							<td>{{item.apellido_paciente}}</td>
							<td>{{item.num_expediente}}</td>
							<td>{{item.area}}</td>
							<td>{{item.fecha_ingreso}}</td>
							<td>{{item.fecha_conclusion}}</td>
							<td>{{item.evaluacion_completa}}</td>
							<td>{{item.reportes}}</td>
							<td>{{item.diagnostico}}</td>
							<td>{{item.fecha_nacimiento}}</td>
							<td>{{item.telefono}}</td>
							<td>{{item.email}}</td>
							<td>{{item.genero}}</td>
						</tr>
					{% endfor %}

			  </table>
			</div>
	</div>
</div>

		<h3>{{ mensaje }}</h3>


{% endblock %}
