{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Reportes {% endblock %}
{% block inicio %}
<li class="active"><a href="{% url 'home' %}" data-nav-section="home"><span>Inicio</span></a></li>
{% endblock %}
{% block content %}
<aside class="callout" style="background: url({% static 'images/admin.jpg' %}) no-repeat center center scroll;">
  <div class="text-vertical-center">
      <h1 style="color: #fff">Reporte Cursos</h1>
  </div>
</aside>
<div class="container">
	<div class="row">
		<div class="text-center">
			<h1>Reporte</h1>
      <div class="table-responsive">
        <table class="table table-hover">
        <th>Numero Curso</th>
        <th>Curso</th>
        {% for item in object_list %}
        <tr>
          <td>{{item.numero_curso}}</td>
          <td>{{item.curso}}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
		</div>
	</div>
</div>
{% endblock %}
