{% extends 'base.html' %}
{% block title %} Reporte {% endblock %}
{% load staticfiles %}
{% block inicio %}
<li class="active"><a href="{% url 'home' %}" data-nav-section="home"><span>Inicio</span></a></li>
{% endblock %}
{% block content %}
<aside class="callout" style="background:  url({% static 'images/admin.jpg' %}) no-repeat center center scroll;">
  <div class="text-vertical-center">
      <h1 style="color: #fff">Reporte Profesionista</h1>
  </div>
</aside>
<div class="container">
  <div class="row">
    <div class="table-responsive">
      <div class="text-center">
        <h1>Reporte</h1>
      </div>
      {% if user.is_superuser %}
      		<table class="table table-hover">
          <th>ID</th>
      		<th>Perfil Usuario</th>
      		<th>Nombre</th>
      		<th>Apellido</th>
      		<th>Reportes</th>
      		<th>Horario inicio</th>
          <th>Horario final</th>
      		<th>Telefono</th>
      		<th>Correo electronico</th>
          <th>Eliminar</th>
      	{% for item in object_list %}
      	<tr>
        <td>{{item.ID_Profesionista}}</td>
      	<td>{{item.perfil_usuario}}</td>
      	<td>{{item.nombre_profesionista}}</td>
      	<td>{{item.apellido_profesionista}}</td>
      	<td>{{item.reportes}}</td>
      	<td>{{item.horario_inicio}}</td>
        <td>{{item.horario_final}}</td>
      	<td>{{item.telefono}}</td>
      	<td>{{item.email}}</td>
        <td><a href="{% url 'delete_profesionista' id=item.ID_Profesionista %}"><i class="fa fa-times "></i></a></td>
      	</tr>
      		{% endfor %}
          	{% endif %}
      		</table>
    </div>

  </div>

</div>
{% endblock %}
